.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

*{ /* arsterik은 모든 TAG에 적용을 의미 */
  box-sizing: border-box; /*https://opentutorials.org/course/2418/13405*/
                /*width,height 설정값이 border를 포함하여 자동 계산 되도록 함*/
}

.responsivestate {
  background-color: brown;
  font-weight: lighter;
  font-size: x-large;
  color: white;
  padding: 20px;
}

.container {
  display:flex;
  justify-content: center;
  background-color: #282c34;
}

.movies {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 85%;
}

.movie {
  display: flex;
  background-color: #eeeeee;
  border-radius: 10px;
  justify-content: space-around;
  flex-direction: row;
  margin: 10px;
  width: 100%;
}

.movie_mobile {
  display: flex;
  background-color: #eeeeee;
  border-radius: 10px;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  width: 100%;
}

.movie .movielink { 
  display: flex;
  margin:0;
}

.movie_mobile .movielink { 
  display: flex;
  justify-content: center;
  margin:0;
}

.movie .movieposter { 
  flex-basis:30%; 
  font-weight: 300;
  object-fit: contain;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* .movie .movieposter_gradation {
  flex: 100%;
  position: absolute;
  width: 300px;
  height: 300px;
  background: linear-gradient(
    to right,
    rgba(20, 20, 20, 0) 10%,
    rgba(20, 20, 20, 0.25) 25%
    rgba(20, 20, 20, 0.5) 50%,
    rgba(20, 20, 20, 0.75) 75%,
    rgba(20, 20, 20, 1) 100%
  )
    #05fbff, #1d62f0);
} */

.movie_mobile .movieposter { 
  flex-basis:30%; 
  font-weight: 300;
  object-fit: contain;
}


.movie .moviesummary { 
  flex-basis:70%;
  margin: 10px;
}

.movie_mobile .moviesummary { 
  flex-basis:70%;
  margin: 10px;
}

/* .movie .moviesynopsis { flex-basis:50%; } */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
